@import "config/reset";
@import "config/globals";
@import "themes/dark";
@import "themes/light";


.app {
  color: var(--main-color);
  background-color: var(--background-color);
  min-height: 100vh;
  font: var(--font-small);
}
